.imgPresentacion {
    background-image: url("../imagenes/Captura.PNG");
    background-size: contain;
    background-color: palegreen;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    p {
        font-size: 30px;
        color: $ColordeFondoHeader;
        font-family: Helvetica, sans-serif;
        text-align: center;
        vertical-align: middle;
    }  
}
